.idea
/vendor
/storage/lists/*
/storage/tmp/*
/storage/api.log
/storage/search.log
sqlite.db
.vagrant
.rocketeer/logs/*
*.pyc
bin/dbpedia/data/*.csv
packages/*
*.nq
env2
env3
env
archive/
.python-version
*.jl
*.json
logs
*.log
*.nt
*.csv
*.copy
*.gz
*.db
*.svm
*.xls*
*.dat
.coverage
cover/
*.npy
*.copy.*
*.pid
.DS_Store
*.pkl
*.pickle

# project specific
notMNIST_large.tar.gz
notMNIST_large/
notMNIST_small.tar.gz
notMNIST_small/
